/* Global */

body {
    
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F2F2F2; 
    font-family: 'Lato', sans-serif;
}

/* Header and navigation */

nav {
    
    height: 110px;
    padding: 0 250px;
    background-color: #468EEC;
    box-shadow: 0px 3px 38px -2px #3D3D3D;   
}

nav a:link{
    
    float: right;
    margin-top: 40px;
    margin-right: 60px;
    color: white;
    font-size: 18px;
    text-decoration: none;   
}

nav a:first-child {
    
    float: left;
    margin-top: 5px;
}

nav a:hover {
    
    color: #BF213E;
}

nav a:visited {
    
    color: white;
}

.active {
    
    font-weight: bold;
    color: white;
}

/* Text styles */

H1 {
    
    color: #BF213E;
}

H2 {
    
    color: #468EEC;
}

H3 {
    
    color: #468EEC;
    font-weight: 100;
}

/* Contactpage main content */

#page-image {
    
    z-index: -1;
    position: relative;
    max-width: 100%;
}

#content {
    
    margin: 0 auto;
    width: 1200px;
}

.contentblock {
    
    width: 450px;
    float: left;
    margin-right: 75px;
    margin-left: 75px;
    
}