.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}

.header_slider {
	font-size: 30px;
	line-height: 550px;
    vertical-align: middle;
    text-transform: uppercase;
}

.p_slider {
	font-size: 20px;
    vertical-align: middle;
}



p {
	text-align:justify;
}
td {
  max-width: 400px;
}

h1 {
	text-align: center;
}

h4 {
		text-align: center;
}