.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}

.header_slider {
	font-size: 30px;
	line-height: 350px;
    vertical-align: middle;
    text-transform: uppercase;
}

.p_slider {
	font-size: 20px;
    vertical-align: middle;
}